@import "~bootstrap/scss/bootstrap.scss";

.container {
    background-color: rgb(54, 52, 52);
   
}
.card{
    background-color: white;
    height: 2500px;
    width:  500px;
    margin: auto;
}

.lista {
    border-bottom: gray;
}

h1{
    text-align: center;;
}

.cartita {
    border: black;
    
     width:  300px;
}